<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Anybody-Bold.ttf</string>
		<string>Anybody-Light.ttf</string>
		<string>Anybody-Medium.ttf</string>
		<string>Anybody-Regular.ttf</string>
		<string>Anybody-SemiBold.ttf</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Use network for testing</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_wolf._tcp</string>
		<string>_wolf._udp</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
		<string>nearby-interaction</string>
	</array>
</dict>
</plist>
